extend base.pug
block content
	header
		h1
			|Catalog
	aside
		menu
			div
				|Select price
				input(type="number" placeholder="Min")
				|- 
				input(type="number" placeholder="Max")
	section
		div
			header
				a(href="to product's page")
					h2
						|Product's name 
				a(href = "to product's page")
					img(src="product photo" alt="dexription")
			div
				p
					|Product's description 
					a(href="")
						|Full 
					button
						|Add to cart			
